body {
    margin: 0;
}

/*=====================================*/
/* Organisation pour appareils Mobiles */
/*=====================================*/
@media all and (max-width: 960px) {
    /*------M------*/
    /* Généralités */
    /*-------------*/
    main {
        font-family: 'Trebuchet MS', sans-serif;
        font-size: 0.8em;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    a:hover {
        text-decoration: underline;
        color: blue;
    }

    aside {
        background-color: #feca07;
    }

    /*----M----*/
    /* Entête */
    /*---------*/
    #Bloc-photo {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #feca07;
        height: 326px;
    }

    #Bloc-nom-titre {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 326px;
    }

    h1 {
        font-family: 'Quicksand', sans-serif;
        font-weight: 300;
        font-size: 3.5em;
        margin: 0;
        padding-left: 2rem;
    }

    .prenom {
        font-family: 'Quicksand', sans-serif;
        font-weight: 500;
        color: #feca07;
    }

    h3 {
        font-family: 'Quicksand', sans-serif;
        font-weight: 500;
        font-size: 1.4em;
        margin: 0;
        padding-left: 2rem;
    }

    .mini-lignejaune {
        border-bottom: solid 2px #feca07;
        width: 3rem;
        margin-left: 2rem;
        margin-top: 0.1rem;
    } 

    /*--------M--------*/
    /* Contact + About */
    /*-----------------*/
    #Bloc-contact {
        height: 344px;
    }

    .bandeau-titre {    
        background-color: #404040;
        height: 38px;
        text-align: center;
        font-weight: 500;
        color: #feca07;
        font-size: 20px;
        padding-top: 14px;
    }

    .donnees {
        padding-left: 2rem;
        padding-top: 1rem;
    }

    #Bloc-about {
        padding-bottom: 2rem;
    }

    .presentation {
        text-align: justify;
        word-wrap: break-word;
        padding: 1rem 2rem 1rem 2rem;
    }

    /*--------M---------*/
    /* Partie "loisirs" */
    /*------------------*/
    #Bloc-loisirs-pc {
        display: none;
    }

    #Bloc-loisirs-mobile {
        background-color: #feca07;
        height: 136px;
    }

    .icones-loisirs {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
        height: 88px;
        font-size: 3em;
    }

    /*--------------------M---------------------*/
    /* Formation + Expérience + Recommandations */
    /*------------------------------------------*/

    .icone-titre {
        padding-top: 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .icone {
        margin: 0;
        padding-left: 2rem;
        font-size: 20px;
        color: #feca07;
    }

    .h2noir {
        font-weight: 500;
        color: inherit;
        font-size: 20px;
        padding-left: 1rem;
        padding-right: 2rem;
    }

    .lignejaune {
        border-bottom: solid 2px #feca07;
        margin-right: 2rem;
        margin-left: 2rem;
    } 

    .details {
        display: flex;
        flex-direction: row;
    }

    .points-dates {
        display: flex;
        flex-direction: row;
        width: 30%;
        padding-left: 2rem;
        margin-top: 2rem;
    }

    .dates {
        margin: 0;
        width: 80%;
    }

    .point-cercle {
        font-size: 1.2em;
        color: #feca07;
        width: 20%;
    }

    .cercle {
        font-size: 0.7em;
        color: #feca07;
        width: 20%;
    }
    .information {
        width: 70%;
        text-align: justify;
        padding-right: 2rem;
    }

    h4 {
        font-family: 'Quicksand', sans-serif;
        font-weight: 600;
        font-size: 1.2em;
        margin-top: 2rem;
        margin-bottom: 0.2rem;
    }

    h5 {
        font-family: 'Quicksand', sans-serif;
        font-weight: 500;
        font-size: 1em;
        margin-top: 0.4rem;
        margin-bottom: 0.2rem;
    }

    .grp-references {
        display: flex;
        flex-direction: row;
    }

    .references {
        width: 50%;
        margin-top: 0.4rem;
        margin-bottom: 0.2rem;
        padding-left: 2rem;
    }
}

/*==============================*/
/* Optimisation pour téléphones */
/*==============================*/
@media (max-width: 768px) {
    .cercle {
        display: none;
    }
    .point-cercle {
        display: none;
    }
}

/*===============================*/
/* Organisation pour Ordinateurs */
/*===============================*/
@media all and (min-width: 961px) {

    /*------O------*/
    /* Généralités */
    /*-------------*/
    main {
        margin: auto;
        font-family: 'Trebuchet MS', sans-serif;
        font-size: 0.8em;
        max-width: 1190px;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    a:hover {
        text-decoration: underline;
        color: blue;
    }

    aside {
        float: left;
        width: 30%;
        vertical-align: top;
        background-color: #feca07;
    }

    article {
        margin-left: 30%;
        width: 70%;
        vertical-align: top;
    }

    /*----O---*/
    /* Entête */
    /*--------*/
    header {
        display: flex;
        flex-direction: row;
    }
    #Bloc-photo {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #feca07;
        width: 30%;
        height: 326px;
    }

    #Bloc-nom-titre {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 70%;
        height: 326px;
    }

    h1 {
        font-family: 'Quicksand', sans-serif;
        font-weight: 300;
        font-size: 3.5em;
        margin: 0;
        padding-left: 2rem;
    }

    .prenom {
        font-family: 'Quicksand', sans-serif;
        font-weight: 500;
        color: #feca07;
    }

    h3 {
        font-family: 'Quicksand', sans-serif;
        font-weight: 500;
        font-size: 1.4em;
        margin: 0;
        padding-left: 2rem;
    }

    .mini-lignejaune {
        border-bottom: solid 2px #feca07;
        width: 3rem;
        margin-left: 2rem;
        margin-top: 0.1rem;
    } 

    /*--------O--------*/
    /* Contact + About */
    /*-----------------*/
    #Bloc-contact {
        height: 344px;
    }

    .bandeau-titre {    
        background-color: #404040;
        height: 38px;
        text-align: center;
        font-weight: 500;
        color: #feca07;
        font-size: 20px;
        padding-top: 14px;
    }

    .donnees {
        padding-left: 2rem;
        padding-top: 1rem;
    }

    #Bloc-about {
        height: 610px;
    }

    .presentation {
        text-align: justify;
        word-wrap: break-word;
        padding: 1rem 2rem 1rem 2rem;
    }

    /*-------------------O---------------------*/
    /* Formation + Epérience + Recommandations */
    /*-----------------------------------------*/

    .icone-titre {
        padding-top: 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .icone {
        margin: 0;
        padding-left: 2rem;
        font-size: 20px;
        color: #feca07;
    }

    .h2noir {
        font-weight: 500;
        color: inherit;
        font-size: 20px;
        padding-left: 1rem;
    }

    .lignejaune {
        border-bottom: solid 2px #feca07;
        margin-right: 2rem;
        margin-left: 2rem;
    } 

    .details {
        display: flex;
        flex-direction: row;
    }

    .points-dates {
        display: flex;
        flex-direction: row;
        width: 30%;
        padding-left: 2rem;
        margin-top: 2rem;
    }

    .dates {
        margin: 0;
        width: 80%;
    }

    .point-cercle {
        font-size: 1.2em;
        color: #feca07;
        width: 20%;
    }

    .cercle {
        font-size: 0.7em;
        color: #feca07;
        width: 20%;
    }
    .information {
        width: 70%;
        text-align: justify;
        padding-right: 2rem;
    }

    h4 {
        font-family: 'Quicksand', sans-serif;
        font-weight: 600;
        font-size: 1.2em;
        margin-top: 2rem;
        margin-bottom: 0.2rem;
    }

    h5 {
        font-family: 'Quicksand', sans-serif;
        font-weight: 500;
        font-size: 1em;
        margin-top: 0.4rem;
        margin-bottom: 0.2rem;
    }

    .grp-references {
        display: flex;
        flex-direction: row;
    }

    .references {
        width: 50%;
        margin-top: 0.4rem;
        margin-bottom: 0.2rem;
        padding-left: 2rem;
    }


    /*--------O---------*/
    /* Partie "loisirs" */
    /*------------------*/
    #Bloc-loisirs-mobile {
        display: none;
    }

    #Bloc-loisirs-pc {
        height: 140px;
    }

    .icones-loisirs {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
        height: 88px;
        font-size: 3em;
    }
}
