body {
    margin: 0;
    background-color: #212121;
}

main {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 0.8em;
}

aside {
    background-color: #81D4FA;
}

#Content {
    background-color: #E1F5FE;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
    color: #b71c1c;
}

a:visited {
    text-decoration: none;
    color: #01579B;
}

ul {
    padding: 0;
    list-style-type: '- ';
}

li {
    padding-bottom: 0.3rem;
}

/* Entête */

header {
    display: flex;
}

#Photo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #81D4FA;
    height: 326px;
}

#Nom-titre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #E1F5FE;
    height: 326px;
}

h1 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 3.5em;
    margin: 0;
}

.prenom {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    color: #b71c1c;
}

h3 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 1.4em;
    margin: 0;
}

.mini-ligne {
    border-bottom: solid 2px #b71c1c;
    width: 3rem;
    margin-top: 0.1rem;
} 

/* Loisirs */

.icones-loisirs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 2.5em;
    padding-top: 2rem;
}

/* Aside */

#Contact {
    height: 344px;
}

.bandeau-titre {    
    margin: 0;
    background-color: #01579B;
    text-align: center;
    font-weight: 600;
    color: #81D4FA;
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.donnees-contact {
    margin: auto;
    padding-top: 2em;
    padding-left: 3em;
}

.presentation {
    text-align: justify;
    word-wrap: break-word;
    padding: 2em 3em 2em 3em;
}

/* Section "formation, etc." */

#Formation, #Xppro, #Recom {
    margin-bottom: 1rem;
}

.icone-titre {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icone {
    margin: 0;
    padding-left: 2.4rem;
    font-size: 20px;
    color: #01579B;
}

.h2noir {
    font-weight: 500;
    color: inherit;
    font-size: 20px;
    padding-left: 1rem;
}

.ligne {
    border-bottom: solid 2px #01579B;
    margin-right: 2.4rem;
    margin-left: 2.4rem;
} 

.details, .grp-references {
    display: flex;
    flex-direction: row;
}

.points-dates {
    display: flex;
    flex-direction: row;
    width: 30%;
    padding-left: 2.4rem;
    margin-top: 2rem;
}

.dates {
    margin: 0;
    width: 85%;
}

.point-cercle {
    font-size: 1.2em;
    color: #01579B;
    width: 15%;
    padding-top: 0.3rem;
}

.cercle {
    font-size: 0.7em;
    color: #01579B;
    width: 13%;
    padding-left: 0.3rem;
    padding-top: 0.4rem;
}

.information {
    width: 70%;
    text-align: justify;
    padding-right: 2.4rem;
}

h4 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    margin-top: 2rem;
    margin-bottom: 0.2rem;
}

h5 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 1em;
    margin-top: 0.4rem;
    margin-bottom: 0.2rem;
}

.references {
    width: 50%;
    padding-left: 2.4rem;
}
    
/*=====================================*/
/* Organisation pour appareils Mobiles */
/*=====================================*/
@media all and (max-width: 960px) {

    header {
        flex-direction: column;
    }

    #Nom-titre {
        align-items: center;
    }

    #Contact-xs, #Loisirs-pc, .separateur, footer {
        display: none;
    }

    #About {
        height: auto;
    }

    #Loisirs-mobile {
        background-color: #81D4FA;
        height: 144px;
    }

    .h2noir {
        padding-right: 2rem;
    }
}

/*==============================*/
/* Optimisation pour téléphones */
/*==============================*/
@media all and (max-width: 480px) {

    main {
        font-size: 1em;
    }

    #Nom-titre {
        align-items: center;
        text-align: center;
    }

    #Contact, .cercle, .point-cercle, footer {
        display: none;
    }

    #Contact-xs {
        display: inherit;
        height: auto;
    }

    .donnees-contact {
        padding-bottom: 2em;
    }

    li {
        padding-bottom: 0.5em;
    }

    .separateur {
        display: inherit;
        border-bottom: solid 2px #01579B;
        width: 3rem;
        margin-top: 0.1rem;
        margin-left: 2.4rem;
    } 

    .details {
        flex-direction: column;

    }

    .points-dates {
        display: flex;
        flex-direction: initial;
        width: inherit;
        margin-top: 2rem;
    }

    h4 {
        margin-top: 1rem;
    }

    .information {
        width: inherit;
        text-align: justify;
        padding-left: 2.4rem;
        padding-right: 2.4rem;
    }

    #Recom {
        margin-bottom: 2rem;
    }

    .grp-references {
        display: inherit;
    }
}

/*===============================*/
/* Organisation pour Ordinateurs */
/*===============================*/
@media all and (min-width: 961px) {

    main {
        margin: auto;
        max-width: 1190px;
    }

    aside {
        float: left;
        width: 30%;
        vertical-align: top;
    }

    #Content {
        margin-left: 30%;
        width: 70%;
        vertical-align: top;
        height: 1800px;
    }

    #Contact-xs, #Loisirs-mobile, .separateur {
        display: none;
    }

    header {
        flex-direction: row;
    }

    #Photo {
        width: 30%;
    }

    #Nom-titre {
        align-items: flex-start;
        width: 70%;
    }

    h1, h3, .mini-ligne {
        padding-left: 2.4rem;
    }

    #About {
        height: 1312px;
    }

    #Formation, #Xppro {
        margin-bottom: 1.5rem;
    }

    #Loisirs-pc {
        height: 144px;
    }

    footer p {
        position: relative;
        left: 50%;
    }

    .css3-img {
        border: 0;
        width: 88px;
        height: 31px;
    }
}
